:root {
  --iris: #4d5ae5;
  --okean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--slate);
  background-color: var(--white);
  /* hughuihho8i */
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--okean);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: block;
}

.btn:hover,
.btn:focus {
  background-color: var(--okean);
  color: var(--white);
}

.tittle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--navy-blue);
}

/*=============HEADER=============*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  align-items: center;
  display: flex;
}
.header-logo {
  color: var(--navy-blue);
  line-height: 1.33;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.focus-logo {
  color: var(--iris);
}
.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  line-height: 1.33;
  font-size: 16px;
  color: var(--navy-blue);
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-adress {
}
.adress {
  display: flex;
  margin-left: auto;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  line-height: 1.5;
  color: var(--slate);
}
/*=============/HEADER=============*/

/*=============HERO=============*/
.hero {
  background: var(--navy-blue);
  color: var(--white);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.modal-btn {
  min-width: 169px;
  height: 56px;
  color: inherit;
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
/*=============/HERO=============*/

/*=============PRIORITETS=============*/
.prioritets {
  padding-top: 120px;
}
.hiden-title {
}
.prioritets-list {
  display: flex;
}
.prioritets-item {
}

.prioritets-item-title {
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--slate);
  margin-bottom: 8px;
}

.prioritets-text {
  line-height: 1.5;
}
/*=============/PRIORITETS=============*/

/*=============PROMOTIONS=============*/
.promotion {
  padding-bottom: 120px;
   padding-top: 120px;
}
.promotion-title {
  margin-bottom: 72px;
  text-align: center;
  
}
.promotion-list {
  gap: 24px;
  display: flex;
}
.promotion-item {
  height: 300px;
}
/*=============/PROMOTIONS=============*/

/*=============TEAM=============*/
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--cloud);}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team-list {
  gap: 24px;
  display: flex;
}

.team-item {
  background-color: var(--white);
  width: 264px;
  height: 380px;
}

.team-expert {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
}

.team-subtitle {
  line-height: 1.5;
}

/*=============/TEAM=============*/

/*=============FOOTER=============*/
.footer {
  padding-top: 120px;
  background: var(--navy-blue);
  padding-bottom: 100px;
}
.footer-logo {
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--cloud);
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  height: 72px;
  line-height: 1.5;
  color: var(--cornflower);

}
/*=============/FOOTER=============*/
/*----------------PORTFOLIO----------------*/

/*=============PROJECT=============*/
.project {
  margin-top: 96px;
  margin-bottom: 72px;
}
.project-list {
}
.project-item {
}
.project-btn {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

/*=============/PROJECT=============*/

.benefits-list {
}
.benefits-item {
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  color: var(--navy-blue);
}
.benefits-text {
  line-height: 1.5;
  color: var(--slate);
}
